<div id="[[componentId]]" class="PropEditorComponent [[if classNames]][[classNames]][[endif]]">
  <h2>Props</h2>
  <div
    id="[[componentId]]_propList"
    class="Container ListContainer FlexColumn"></div>
</div>
