<div id="[[componentId]]" class="RoomPropertiesEditorComponent [[if classNames]][[classNames]][[endif]]">
  <div>Room Name</div>
  <div class="FlexRow">
    <input type="text" name="roomName" onchange="[[this]].onRoomNameChanged();" value="[[roomName]]">
    <!-- <button>Randomize</button> -->
  </div>

  <button onclick="[[this]].createNewRoom();">Create New Room</button>

<!--   <div>Music</div>
  [[musicURISelector]] -->
</div>
