<div id="[[componentId]]" class="EnemyEditorComponent [[if classNames]][[classNames]][[endif]]">
  <h2>Enemies</h2>
  <div
    id="[[componentId]]_enemyList"
    class="Container ListContainer FlexColumn"></div>
</div>
