<div id="[[componentId]]" class="DebugToolbarComponent [[if classNames]][[classNames]][[endif]]">
    <div>Debug</div>
    <div class="FlexRow">
        <button>Room Editor</button>
        <button>Tileset Helper</button>
    </div>
</div>
