<div id="[[componentId]]" class="RoomEditorComponent [[if classNames]][[classNames]][[endif]]">
  <div class="FlexRow">
    <button
      onclick="[[this]].showTab('[[componentId]]_tilesTab');">Tiles</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_materialsTab');">Auto-tiling Materials</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_enemiesTab');">Enemies</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_npcsTab');" >NPCs</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_propsTab');">Props</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_musicTab');">Music</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_roomTab');">Room</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_loadSaveTab');">Load/Save</button>
    <button
      onclick="[[this]].showTab('[[componentId]]_bgTab');">Background</button>
    <button
      onclick="">Hide</button>
  </div>

  <div
    id="[[componentId]]_tilesTab"
    class="FlexRow Tab">
    <import path="_tilesTab.html">  
  </div>

  <div
    id="[[componentId]]_materialsTab"
    class="FlexRow Tab">
  </div>

  <div
    id="[[componentId]]_loadSaveTab"
    style="display: none;"
    class="FlexRow Tab">
    <import path="_loadSaveTab.html">  
  </div>

  <div
    id="[[componentId]]_enemiesTab"
    style="display: none;"
    class="FlexRow Tab"></div>

  <div
    id="[[componentId]]_propsTab"
    style="display: none;"
    class="Tab"></div>

  <div
    id="[[componentId]]_npcsTab"
    style="display: none;"
    class="FlexRow"></div>

  <div
    id="[[componentId]]_bgTab"
    style="display: none;"
    class="FlexRow"></div>

  <div
    id="[[componentId]]_musicTab"
    style="display: none;"
    class="FlexRow Tab"></div>

  <div
    id="[[componentId]]_roomTab"
    style="display: none;"
    class="FlexRow"></div>

  <div class="FlexExpand"></div>
</div>
