
<div class="FlexRow">
  <!-- Tileset List -->
  <div class="FlexColumn TilesetListContainer">
    <div>Tilesets</div>
    <button
      onclick="[[this]].onLoadTilesetButtonClicked();">Load Tileset</button>
    <div
      id="[[componentId]]_tilesetList"
      class="FlexColumn"
      onclick="[[this]].onTilesetListClicked(event);"></div>
  </div>

  <!-- Tileset Parameters -->
  <!-- <div
    class="FlexColumn">
    <div>Tile Width</div>
    <input type="number" name="tileWidth">
    <div>Tile Height</div>
    <input type="number" name="tileHeight">
    <div class="FlexExpand"></div>
  </div>
   -->

  <!-- Tile Types -->
  <div class="FlexColumn" style="overflow-y: scroll;">
    <div>Tile Type</div>

    <div class="FlexRow">
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.NORMAL);">Normal</button>
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.BEAM);">Beam</button>
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.BOMB);">Bomb</button>
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.HOLLOW);">Hollow</button>
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.FRAGILE);">Fragile</button>
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.MISSILE);">Missile</button>
      <button
        onclick="[[this]].selectTileType(PlanetoidTile.TYPE.HYPER_DASH);">Hyper Dash</button>
    </div>


    <!-- Tile Selector -->
    <div
      id="[[componentId]]_tilesetContainer"
      class="FlexColumn TilesetContainer">
      <div>Select Tile (Ctrl to select multiple)</div>
      <canvas
        id="[[componentId]]_canvas"
        onclick="[[this]].onCanvasClicked(event);"></canvas>
    </div>
  </div>
</div>