<import path="EnemyEditorComponent/index.html">
<import path="PropEditorComponent/index.html">
<import path="RoomPropertiesEditorComponent/index.html">
<import path="NPCEditorComponent/index.html">
<import path="BGEditorComponent/index.html">
<import path="MusicEditorComponent/index.html">
<import path="MaterialEditorComponent/index.html">
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="8vr3amemoz01afe"></script>


<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('RoomEditorComponent_template', `[[_index.html]]`);</script>
