.RoomEditorComponent {
    user-select: none;
    background-color: white;
}

.RoomEditor .LoadSaveTab {
    max-width: 256px;
}

.RoomEditorComponent .Tab {
    min-height: 0;
}

.RoomEditorComponent .TilesetListContainer {
    max-width: 33%;
    overflow-y: auto;
}

.RoomEditorComponent .TilesetListContainer img {
    max-width: 100%;
}

.RoomEditorComponent .TilesetContainer {
    overflow-x: auto;
    overflow-y: auto;
}

.RoomEditorComponent .ListContainer {
    min-height: 0px;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.FlexExpand {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.FlexShrink {
    display: flex;
    flex-shrink: 1;
}

.FlexNoShrink {
    flex-shrink: 0;
}

.FlexVerticalAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.FlexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}