<div id="[[componentId]]" class="NPCEditorComponent [[if classNames]][[classNames]][[endif]]">
  <h2>NPCs</h2>
  <div
    id="[[componentId]]_npcList"
    class="Container ListContainer"></div>
</div>
